<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oop.grupo2.firebasechatapp">

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" />
        <activity android:name=".ChatRoomListActivity"></activity>
     <!--   <activity android:name=".ChatRoomActivity"
            android:parentActivityName=".ChatRoomListActivity">
            <meta-data  android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatRoomListActivity"></meta-data>

        </activity> -->
        <activity android:name=".PrivateChatRoomActivity"
            android:parentActivityName=".ChatRoomListActivity">
            <meta-data  android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatRoomListActivity"></meta-data>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="firebasechatapp"
                    android:host="invite" >
                </data>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="chatapp-test-4e669.firebaseapp.com"
                    android:pathPrefix="/invite"
                    >
                </data>
            </intent-filter>
        </activity>
        <activity android:name=".PublicChatRoomActivity"
            android:parentActivityName=".ChatRoomListActivity">
            <meta-data  android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatRoomListActivity"></meta-data>

        </activity>


    </application>

</manifest>